body{
    background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
}
.text{
    color: white;
}

#para{
    color: white;
}
.info{
    color: white;
}
.title{
    color: white;
}
.title:hover{
    color: darkgrey;
    transition: 0.7s;
}